szn-options {
  display: block;

  z-index: 1000;

  border: 1px solid var(--szn-options-border-color, #cccccc);
  border-radius: var(--szn-options-border-radius, 0 0 4px 4px);
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
  overflow-x: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--szn-options-text-color, #000000);

  background: var(--szn-options-background-color, #ffffff);

  user-select: none;
}

szn-options [data-szn-options-option] {
  display: block;

  padding: var(--szn-options-item-padding, 5px);
  padding-left: var(--szn-options-item-indent, 12px);

  cursor: pointer;
}

szn-options [data-szn-options-option][disabled],
szn-options [disabled] [data-szn-options-option] {
  cursor: default;
}

szn-options [data-szn-options-selected] {
  background: var(--szn-options-selected-background, #eeeeee);
}

szn-options [data-szn-options-optgroup] {
  display: block;
}

szn-options [data-szn-options-optgroup] [data-szn-options-option] {
  padding-left: calc(2 * var(--szn-options-item-indent, 12px));
}

szn-options [data-szn-options-optgroup-label]:before {
  display: block;

  padding: var(--szn-options-item-padding, 5px);
  padding-left: var(--szn-options-item-indent, 12px);

  content: attr(data-szn-options-optgroup-label);
  font-weight: bold;
}

szn-options[data-szn-options-highlighting] [data-szn-options-selected] {
  background: none;
}

szn-options[data-szn-options-highlighting] [data-szn-options-highlighted] {
  background: var(--szn-options-selected-background, #eeeeee);
}

szn-options [disabled] {
  color: var(--szn-options-disabled-text, #cccccc);
}
