szn-options {
  display: block;

  z-index: 1000;

  border: 1px solid #cccccc;
  border-radius: 0 0 4px 4px;
  box-sizing: border-box;
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
  color: black;

  background: white;
}

szn-options [data-szn-options-option] {
  display: block;

  padding: 5px 5px 5px 12px;

  cursor: pointer;
}

szn-options [data-szn-options-selected] {
  background: #eeeeee;
}

szn-options [data-szn-options-optgroup] {
  display: block;
  padding-left: 12px;
}

szn-options [data-szn-options-optgroup-label]:before {
  display: block;

  padding: 5px 5px 5px 0;

  content: attr(data-szn-options-optgroup-label);
  font-weight: bold;
}